<!DOCTYPE html>
<html lang="en">
{% load static  %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>

    <link rel="stylesheet" type="text/css" href="{% static 'chatbotApp/style.css'%}">
</head>
<body>
    <h1>Chat Bot</h1>
    <div>
        <div id="chatbot">
            <p class="botText"><span>Hi There</span></p>
        </div>
        <div id="userInput">
            <input type="text" id="textInput" name="userMessage" placeholder="Type your Message...">
            <input type="submit" value="Send" id="buttonInput">
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function getUserResponse(){
            var userText = $('#textInput').val();
            var userHTML = "<p class='userText'>User:<span>"+userText+"</span/></p>";
            $('#textInput').val("");
            $('#chatbot').append(userHTML);
        }


        $('#buttonInput').click(function(){
            getUserResponse();
        })
    </script>  
 

</body>

</html>